.carousel-content {
  position: absolute;
  left: 50%;
  bottom: 6rem;
  transform: translateX(-50%);
  z-index: 10;

  @include respond(tab-port) {
    width: 75%;
  }

  &-title {
    margin-bottom: 3.5rem;

    @include respond(tab-podrt) {
      font-size: 3.5rem;
    }

    @include respond(bootstrap-small) {
      font-size: 2.5rem;
      line-height: normal;
    }
  }

  .carousel-form {
    @include respond(tab-port) {
      flex-direction: column;
    }

    .v-select {
      @include respond(tab-port) {
        width: 100%;
        max-width: none;
        margin: 1rem 0 !important;
      }
    }

    .btn {
      @include respond(tab-port) {
        margin: 1rem 0 !important;
      }
    }

  }

  @include respond(bootstrap-small) {
    padding: 0 15px;
    width: 100%;
  }

  &__title-inner {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 5px;

    @include respond(phone){
      font-size: 2.5rem;
    }
  }
  &__desc-inner{
    font-size:1.8rem;
    line-height: 1.8;

    @include respond(phone){
      font-size: 1.5rem;
    }
  }
}


.carousel-content--alt {
  transform: none;
  left: 11rem;
  bottom: 15%;  

  @include respond(tab-land){
    bottom: 10%;
  }
}

.carousel-arrows {
  padding: 14px 10px;
  font-size: 16px;
  cursor: pointer;
}

.chn-arrow-thin-left {
  background: #dbdbdb;
}

.chn-arrow-thin-right {
  background: #000;
}

.carousel-testimonial-navs {
  position: absolute;
  bottom: 15px;
  left: -5%;
}

.carousel-homestay-navs {
  position: absolute;
  bottom: 15px;
  right: 5px;
}

.carousel-homestay-experience {
  position: absolute;
  bottom: 15px;
  right: 25px;
  z-index: 9;
}

@media (max-width: 992px) {
  .carousel-testimonial-navs {
    bottom: 15px;
    right: 0%;
    left: auto;
  }
}

.chsBanner-map {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.7s ease-in-out;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center;
}

.showMap {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}

.carousel-form {
  .v-select {
    width: 900px;
    height: 6rem;

    @include respond(phone) {
      width: 100%;
    }

    .spinner {
      margin-left: 10px;
    }

    .dropdown-toggle {
      height: 6rem;
    }

  }

  .btn--experience {
    padding: 1.4rem 3rem 1.2rem !important;
    font-size: 2rem;
    background-color: $color-brand;
  }

  .v-select--brand .vs__actions {
    padding: 0 !important;

    .open-indicator{
      width: 60px;
      justify-content: center;
    }
  }

  .dropdown-menu {
    max-height: 150px !important;
  }

  .open.v-select--brand {
    border-radius: 5px 5px 0 0;

    .vs__actions {
      border-radius: 0 5px 0 0;
    }
  }

}

.carousel-content {
  .explore {
    font-size: 1.6rem;
    color: $color-brand;

    &:hover {
      color: white !important;
    }
  }
}

.banner-carousel {
  height: 100vh;
}

.carousel-desc {
  &>span {
    font-size: 1.5rem;
    .chn-location {
      font-size: 3rem;
      display: inline-block;
      vertical-align: bottom;
    }
  }
}

.carousel-tagline {
  font-size: 2rem;
}

.carousel-testimonial .carousel-caption{
  left:0;
}
